html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 15px;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html , body {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Raleway', sans-serif;
}
.grid {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.grid > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}
.item {
    padding: 2rem;
}
.first.item {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
}
.first.item h2 {
    margin-bottom: 2rem;
    font-size: 2.2rem;
    font-weight: 300;
}
.first.item h1 {
    font-size: 2.8rem;
    font-weight: 500;
}
.second.item , .third.item {display: none;}
.nav a {
    display: inline-block;
    display: block;
    margin-bottom: 1rem;
    color: black;
    text-decoration: none;
    margin-right: 1rem;
    padding: 0.2rem 0.4rem;
    position: relative;
    font-weight: 500;
    color: #666666;
}
.nav a:hover {
    font-weight: 800;
    color: #111111;
}
.nav a:before {
    content: "[";
    color: red;
    margin-right: 0.2rem;
    -webkit-transition: 400ms all;
    -o-transition: 400ms all;
    transition: 400ms all;
}
.nav a:hover:before {
    margin-right: 0.8rem;
}
.nav a:after {
    content: "]";
    color: red;
    margin-left: 0.2rem;
    -webkit-transition: 400ms all;
    -o-transition: 400ms all;
    transition: 400ms all;
}
.nav a:hover:after {
    margin-left: 0.8rem;
}
@media only screen and (min-width : 1024px) {
    .second.item , .third.item {display: block;}
    .grid {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .grid > *:nth-child(1) {
            -ms-grid-row: 1;
            -ms-grid-column: 1;
    }
    .grid > *:nth-child(2) {
            -ms-grid-row: 1;
            -ms-grid-column: 2;
    }
    .grid > *:nth-child(3) {
            -ms-grid-row: 2;
            -ms-grid-column: 1;
    }
    .grid > *:nth-child(4) {
            -ms-grid-row: 2;
            -ms-grid-column: 2;
    }
    .first.item {
        text-align: right;
        -ms-grid-column-align: end;
            justify-self: end;
        -ms-flex-item-align: end;
            -ms-grid-row-align: end;
            align-self: end;
    }

}
